<a href="https://colab.research.google.com/github/ansafibrahim/Ibrahim_Python_Code/blob/main/IPythonNotebook2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program to find sum of all elements in a list of integers.

In [ ]:
mylist = [22,33,43,56,32,54]
Total = sum(mylist)
print(f"Sum of all elements in a list of integers is {Total}")

Sum of all elements in a list of integers is 240

Input a sentence as a string.
a) Print its length
b) Print the first half of string

In [ ]:
text = "Welcome to the world of python"
print(len(text))
print(text[0:14])

30
Welcome to the

Write a program to enter a tuple of integers as (78,45,32,19,82,77,40,39). Change the third value in the tuple to 100

In [1]:
tuple1 = (78,45,32,19,82,77,40,39)
list1 = list(tuple1)
list1[2]=100
tuple1 = tuple(list1)
print(tuple1)

(78, 45, 100, 19, 82, 77, 40, 39)

Consider a list listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
(a) Delete the first occurrence of 32
(b) Delete all occurrences of 40
(c) Delete the value at index=5
(d) Modify the value at index=9 as 300
(e) Add 200 at index=2
(f) Print the final list with its length, maximum value
and sum of all elements

In [ ]:
listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
listA.remove(32)
print(listA)

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

In [ ]:
listA = [19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
listA.pop(11)
listA.pop(10)
print(listA)

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77]

In [ ]:
listA.pop(5)
print(listA)

[19, 10, 55, 31, 32, 29, 10, 65, 77]

In [ ]:
listA[8] = 300
print(listA)

[19, 10, 55, 31, 32, 29, 10, 65, 300]

In [ ]:
listA = [19, 10, 55, 31, 32, 29, 10, 65, 300]
listA.insert(2,200)
print(f"listA = {listA}")
print(f"Length of the list is {len(listA)}")
print(f"maximum value is {max(listA)}")
print(f"sum of the list is {sum(listA)}")

listA = [19, 10, 200, 55, 31, 32, 29, 10, 65, 300]
Length of the list is 10
maximum value is 300
sum of the list is 751

Consider a string ”The day has been long”.
(a) Delete the value at index =4
(b) Print the string 4 times in a single line with space
between each repetition
(c) Print the string 3 times in a new line each time
(d) Modify the string at index 7 as ’A’
(e) Print the string from index 4 to 15
(f) Print the final string with its length

In [23]:
text4 = "The day has been long"
text4 = text4[:4] + text4[5:]
text4

'The ay has been long'

In [39]:
text4
print((text4+" ")*4)

The ay has been long The ay has been long The ay has been long The ay has been long

In [46]:
text4
print((text4+"\n")*3)

The ay has been long
The ay has been long
The ay has been long

In [54]:
text4
text4 = text4[:7]+"A"+text4[8:]
text4

'The ay Aas been long'

In [56]:
print(text4[4:16])

ay Aas been

In [57]:
print(len(text4))

20